.joke {
	flex: 1;
	z-index: 0;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	justify-content: stretch;
	border: 1px solid #cccfff;
	margin: 1rem;
	box-shadow: 1px 4px 8px #cccfff;
	position: relative;
}

.joke.accepted {
	animation-name: accept;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes accept {
	0% {
		background-color: transparent;
		opacity: 0;
	}
	100% {
		opacity: 0.8;
		background-color: rgba(0, 128, 0, 0.6);
	}
}

.joke::after {
	content: '';
	z-index: -1;
	background-image: var(--img0);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	opacity: 0.3;
	top: 0rem;
	left: 0rem;
	right: 0rem;
	bottom: 0rem;
}

.joke:first-of-type:after {
	background-image: var(--img1);
}

.joke__text {
	text-align: center;
	font-size: 5vw;
	font-weight: 500;
	font-family: 'Baloo Tammudu 2', cursive;
	line-height: 1.2em;
	padding: 1rem;
}

@media screen and (min-width: 600px) {
	.joke__text {
		font-size: 4vw;
	}
}

@media screen and (min-width: 900px) {
	.joke__text {
		font-size: 3vw;
	}
}

@media screen and (min-width: 1300px) {
	.joke__text {
		font-size: 2.5rem;
	}
}
